[Unit]
Description=CMS User Frontend
After=network.target

[Service]
Type=simple
User=centos
WorkingDirectory=/app/greensupia/cms/frontend/user-portal
Environment=PORT=3001
ExecStart=/usr/bin/npm run dev
Restart=always

[Install]
WantedBy=multi-user.target 